@charset "UTF-8";
html {
  size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100%; }

* {
  padding: 0%;
  margin: 0%; }

/*estilo en general para el cuerpo*/
body {
  min-height: 100%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  background-image: url(../static/img/background.png); }

/*estilo aplicado barra de navegación index */
nav {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  text-align: center;
  font-style: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(231, 154, 37, 0.938);
  color: white; }
  nav img {
    width: 100px;
    height: 100px;
    border-radius: 70px; }

.pie {
  padding: 2px;
  font-size: 16px;
  color: #2a2b28;
  background-color: rgba(224, 132, 11, 0.945);
  grid-area: footer; }

.container_1 {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 16px; }

.container_2 {
  background: #f35f1a; }

.contenido {
  width: 90%; }

.nombre1 {
  text-align: justify; }

.nombre {
  font-weight: bold;
  font-size: 20px; }

.lateral {
  padding: 40px; }
  .lateral__contenido_lateral--barra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify; }

/*aplicando variables en sección quienes somos*/
main {
  padding: 5px;
  margin-bottom: 20%;
  justify-content: center;
  text-align: center; }
  main .principal__nuestraHistoria--promo {
    padding: 50px 50px;
    text-align: justify;
    color: #111111; }

.container .row {
  justify-content: flex-start;
  align-items: center; }

.container img {
  width: 45%;
  border-radius: 60px; }

iframe {
  width: 100;
  height: 50;
  border-style: 0; }

.lead {
  display: block; }

/*estilos aplicados al footer de la pagina*/
footer {
  color: #3d3a3a;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center; }

/*aplicación de grids en la sección de submenú-desayunos*/
.encabezado {
  grid-area: naveg; }

.promo1 {
  padding: 5%;
  text-align: center; }

.desa {
  border-radius: 55%; }

.titulo {
  grid-area: footer; }

.grilla {
  text-align: center;
  display: grid;
  gap: 10px;
  grid-template-areas: "naveg" "main" "footer";
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 3fr;
  align-items: center; }

.promo {
  margin: 2%;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #413f3d;
  background: radial-gradient(#ff7300, #f8a221, #e69926); }

.galery_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px; }

.galery_item {
  text-align: justify;
  padding: 3%;
  width: 100%;
  height: 100%;
  border-radius: 30%; }
  .galery_item img {
    align-items: center;
    border-radius: 60%;
    height: 40%; }

.galery_container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%; }
  .galery_container2 img {
    height: 40%;
    border-radius: 60%; }

/*aplicación de grids en la sección de contact-formulario*/
.reg {
  text-align: justify;
  display: block; }

/* inicio aplicando extend en sección contact*/
.registro, .registro button {
  display: block;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 2%;
  border-radius: 10px;
  width: 420px;
  background: #f38406;
  text-align: justify; }
  .registro h3 {
    color: white; }
  .registro button {
    width: auto;
    padding: 10px;
    margin-top: 10px; }

label, input {
  color: #383434;
  width: 100%;
  background: #f0ecec; }

/*cierre aplicando extend en sección contact*/
/*aplicando media queri para distintos dispositivos-celulares */
@media screen and (min-width: 480px) {
  .container_2 {
    background: #50d41c; }
  .contenido,
  .contenido_lateral {
    width: 50%; } }

/*aplicando media queri para distintos dispositivos-tablets */
@media screen and (min-width: 480px) and (max-width: 780px) {
  .contenido,
  .contenido_lateral {
    width: 100%; } }

/*aplicando media queri para distintos dispositivos-ordenadores de escritorio */
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .container_1 {
    height: 100px; }
  .contenido,
  .contenido_lateral {
    width: 100%; } }

/*aplicando transiciones al footer-mapa de la ubicación */
.pie__divContenedor,
h1,
h2 {
  animation-duration: 0.3s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*aplicando SASS con variable y condicional en sección "desayunos.html" */
.titulo {
  font-family: cursive;
  font-size: 25px;
  color: #464444; }

.text2 img {
  padding: 15px;
  margin: 10px;
  border-radius: 75%; }

/*aplicando extend en el index*/
.sorteo, .sorteo_1, .sorteo_2 {
  color: #f8f0ef;
  background-color: #326d1a;
  padding: 10px;
  margin: 80px; }

/*aplicando extend en el index*/
.sorteo_1, .sorteo_2 {
  background-color: #1f4410;
  font-style: normal;
  font-size: 16px; }

.sorteo_2 {
  background-color: #102308;
  font-style: normal; }

/*aplicando mixin en el index*/
h5 {
  color: #f5dfdf;
  background-color: tomato;
  font-size: 30px;
  padding: 10px;
  margin: 80px; }
