$colorFont: rgb(61, 58, 58);
$sizefont: 20px;
$typefont: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

html {
    size: $sizefont;
    font-family: $typefont;
    min-height: 100%;
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/*estilo en general para el cuerpo*/

body {
    margin: 0%;
    min-height: 100%;
    font-size: $sizefont;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
    padding: 100%;
    margin-top: 1%;
    img {
        width: 250px;
        height: 150px;
    }
}
.nave {
    width: 5%;
    height: 5%;
}
/*INICIO formato a main del INDEX*/

.primero {
    color: $colorFont;
    text-align: center;
    p {
        font-weight: bolder;
        font-size: $sizefont;
        font-family: cursive;
    }
    .row {
        padding: 5%;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    img {
        width: 60%;
        border-radius: 60px;
    }
}
main {
    margin-bottom: 20%;
    justify-content: center;
    text-align: center;
    padding: 5%;
    margin-left: 10px;
    margin-right: 10px;

    h4 {
        color: rgba(151, 11, 11, 0.589);
        font-style: oblique;
        font-weight: bolder;
    }
    .nombre1 {
        font-size: $sizefont;
        text-align: justify;
    }
}
.dos {
    p {
        font-size: $sizefont;
    }
    .texto {
        padding: 25px;
        background: rgba(235, 195, 16, 0.747);
    }
}
.animado {
    video {
        height: 75%;
        border-radius: 75px;
        padding: 25px;
        min-width: 60%;
        height: 20%;
        width: 20%;
        opacity: 80%;
    }
}
.promo {
    margin: 2%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: rgb(65, 63, 61);
    background: rgba(143, 143, 137, 0.342);
}
.text2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px;
    grid-gap: 30px;
    text-align: center;
    img {
        height: 50px;
        width: 50px;
    }
}
@media (min-width: 480px) {
    .text2 h5 {
        grid-template-columns: repeat(4, 1fr);
    }
}
@mixin participa($colorLetra, $valorLetra, $colorFondo) {
    color: $colorLetra;
    background-color: $colorFondo;
    font-size: $valorLetra;
    padding: 25px;
    margin: 80px;
}
h5 {
    @include participa(rgb(245, 238, 223), 30px, rgba(235, 195, 16, 0.747));
}

/*FIN estilos sección INDEX*/

/*INICIO sección QUIENES SOMOS*/
.principal {
    padding: 0%;
    margin: 0%;

    h1 {
        font-weight: bold;
        background: rgba(240, 241, 239, 0.541);
    }
    p {
        font-size: $sizefont;
        background: rgba(240, 241, 239, 0.541);
    }
}
.principal__nuestraHistoria--promo {
    padding: 50px 50px;
    text-align: justify;
    color: rgb(17, 17, 17);
    background: rgba(240, 241, 239, 0.541);
}
.fondo {
    overflow: hidden;
    video {
        width: 100%;
    }
}
.restaurante {
    font-style: oblique;
    font-weight: bolder;
    color: rgb(136, 28, 28);
}
/*FIN estilos sección QUIENES SOMOS*/

/*INICIO estilos seccón ALMUERZOS*/
.galery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 20px;
    cursor: pointer;
}
.galery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galery_tittle {
    position: absolute;
    bottom: 0%;
    color: cornsilk;
    background: linear-gradient(rgba(255, 255, 255, 0.39), rgba(0, 0, 0, 0.397));
    width: 100%;
    margin: 0%;
    font-size: 16px;
}
.galery_item {
    position: relative;
}
@media (min-width: 768px) {
    .galery_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.especificaciones {
    p {
        font-size: $sizefont;
        padding: 5px;
        background: rgb(250, 248, 248);
    }
    .fuerte {
        font-weight: bolder;
        font-size: 25px;
    }
}
/*FIN estilos sección ALMUERZOS*/

/*INICIO estilos sección BENEFICIOS*/

.nombre {
    font-weight: bold;
    font-size: 20px;
}

/*INICIO estilos aplicados al footer de la pagina*/
footer {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: rgb(8, 8, 7);
    font-size: 16px;

    .pie {
        padding: 2px;
        font-size: 16px;
        background-color: rgba(12, 11, 10, 0.856);
        grid-area: footer;
    }
}
.pie__divContenedor,
h1,
p {
    animation-duration: 0.3s;
    animation-name: aparecer;
}
/*aplicando transiciones al footer-mapa de la ubicación */

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
iframe {
    width: 100;
    height: 50;
    border-style: 0;
}
.lead {
    display: block;
}
/*FIN estilos footer*/

/*aplicación de grids en la sección de submenú-desayunos*/

.promo1 {
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    color: rgb(2, 2, 0);
    background: rgba(143, 143, 137, 0.342);
}
/*INICIO estilos aplicados a la seccion de DESAYUNOS*/
.desa {
    border-radius: 35%;
}
.general {
    h1 {
        padding: 5%;
        margin-left: 15%;
        margin-right: 15%;
        color: rgb(2, 2, 0);
        text-align: center;
    }
}
/*aplicando SASS con variable y condicional en sección "desayunos.html" */
$numero: 15;
.titulo {
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    @if $numero == 15 {
        font-family: cursive;
        font-size: 25px;
        color: rgb(26, 23, 23);
        background: rgba(231, 181, 17, 0.425);
    } @else {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
    }
}
/*FIN seccion DESAYUNOS*/

/*INICIO sección de contact-formulario*/
.reg {
    text-align: justify;
    display: block;
    background-image: url(/static/img/datos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .registro {
        p {
            font-size: $sizefont;
        }
    }
}
/* inicio aplicando extend en sección contact*/
.registro {
    display: block;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 2%;
    border-radius: 10px;
    width: 420px;
    background: rgba(207, 126, 33, 0.774);

    h3 {
        color: rgba(15, 15, 15, 0.726);
        text-align: justify;
    }
    button {
        @extend .registro;
        width: auto;
        padding: 10px;
        margin-top: 10px;
    }
}
label {
    color: rgb(56, 52, 52);
    width: 100%;
    background: rgb(240, 236, 236);
}
input {
    @extend label;
}
.contacto {
    color: rgb(66, 65, 65);
    background: rgb(255, 196, 0);
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
/*cierre aplicando extend en sección contact*/
/*FIN estios CONTACTANOS*/

/*INICIO estilos seccón BENEFICIOS*/

$rifa: rgba(250, 226, 10, 0.103);
.promo2 {
    font-size: $sizefont;
    color: $colorFont;
    background-color: $rifa;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 5%;

    .beneficios {
        height: 65px;
    }
    .frase {
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
        font-style: italic;
    }
}
.bene1 {
    @extend .promo2;
    background-color: darken($rifa, 10%);
    font-style: normal;
    font-size: $sizefont;
}
.bene2 {
    @extend .promo2;
    background-color: darken($rifa, 18%);
    font-style: normal;
}
.bene3 {
    @extend .promo2;
    background-color: darken($rifa, 20%);
    font-style: normal;
}
.bene4 {
    @extend .promo2;
    background-color: darken($rifa, 25%);
    font-style: normal;
}
main {
    p {
        font-size: 50px;
        text-align: center;
    }
}
div {
    p {
        text-align: center;
    }
}
/*FINAL estilos seccón BENEFICIOS*/

/*aplicando mixin en el index*/

.foto {
    max-width: 60%;
    min-height: 60%;
    border-radius: 60px;
}
