$colorFont: rgb(61, 58, 58);
$sizefont: 16px;
$typefont: Verdana, Geneva, Tahoma, sans-serif;
html {
    size: $sizefont;
    font-family: $typefont;
    min-height: 100%;
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/*estilo en general para el cuerpo*/
body {
    min-height: 100%;
    font-size: $sizefont;
    font-family: $typefont;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../static/img/background.jpg);
    background-attachment: fixed;
}

/*estilo aplicado barra de navegación index */
nav {
    margin-bottom: 0.5%;
    text-align: center;
    font-style: $typefont;
    background: rgba(182, 55, 33, 0.384);
    img {
        width: 100px;
        height: 100px;
        border-radius: 70px;
    }
}

.pie {
    padding: 2px;
    font-size: $sizefont;
    color: rgb(236, 238, 231);
    background-color: rgba(114, 10, 2, 0.692);
    grid-area: footer;
}
.container_1 {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: $sizefont;
}
.container_2 {
    background: rgb(243, 95, 26);
}
.contenido {
    width: 90%;
}

.nombre1 {
    text-align: justify;
}
.nombre {
    font-weight: bold;
    font-size: 20px;
}
.lateral {
    padding: 40px;
    &__contenido_lateral--barra {
        font-family: $typefont;
        font-size: $sizefont;
        text-align: justify;
    }
}
/*aplicando variables en sección quienes somos*/
main {
    margin-bottom: 20%;
    justify-content: center;
    text-align: center;
    padding: 5%;
    margin-left: 10px;
    margin-right: 10px;
}
.principal__nuestraHistoria--promo {
    padding: 50px 50px;
    text-align: justify;
    color: rgb(17, 17, 17);
}

video {
    height: 75%;
    border-radius: 75px;
}
.container {
    .row {
        padding: 5%;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    img {
        width: 60%;
        border-radius: 60px;
    }
}
iframe {
    width: 100;
    height: 50;
    border-style: 0;
}
.lead {
    display: block;
}
/*estilos aplicados al footer de la pagina*/
footer {
    color: $colorFont;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/*aplicación de grids en la sección de submenú-desayunos*/
.encabezado {
    grid-area: naveg;
}
.promo2 {
    padding: 5%;
    text-align: justify;
    color: rgb(27, 27, 24);
    background: rgba(214, 214, 208, 0.384);
}
.promo1 {
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    color: rgb(27, 27, 24);
    background: rgba(214, 214, 208, 0.384);
}
.desa {
    border-radius: 55%;
}
.titulo {
    grid-area: footer;
}
.grilla {
    text-align: center;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "naveg"
        "main"
        "footer";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 3fr;
    align-items: center;
}
.promo {
    margin: 2%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: rgb(65, 63, 61);
    background: radial-gradient(rgb(255, 115, 0), rgb(248, 162, 33), rgb(230, 153, 38));
}
.galery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.galery_item {
    text-align: justify;
    padding: 3%;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    img {
        align-items: center;
        border-radius: 60%;
        height: 40%;
    }
}

.galery_container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
    img {
        height: 40%;
        border-radius: 60%;
    }
}

/*aplicación de grids en la sección de contact-formulario*/
.reg {
    text-align: justify;
    display: block;
}

/* inicio aplicando extend en sección contact*/
.registro {
    display: block;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 2%;
    border-radius: 10px;
    width: 420px;
    background: rgba(95, 52, 2, 0.411);
    text-align: justify;
    h3 {
        color: white;
    }
    button {
        @extend .registro;
        width: auto;
        padding: 10px;
        margin-top: 10px;
    }
}
label {
    color: rgb(56, 52, 52);
    width: 100%;
    background: rgb(240, 236, 236);
}
input {
    @extend label;
}
/*cierre aplicando extend en sección contact*/

/*aplicando media queri para distintos dispositivos-celulares */
@media screen and (min-width: 480px) {
    .container_2 {
        background: rgb(80, 212, 28);
    }
    .contenido,
    .contenido_lateral {
        width: 50%;
    }
}
/*aplicando media queri para distintos dispositivos-tablets */
@media screen and (min-width: 480px) and (max-width: 780px) {
    .contenido,
    .contenido_lateral {
        width: 100%;
    }
}
/*aplicando media queri para distintos dispositivos-ordenadores de escritorio */
@media screen and (min-width: 780px) and (max-width: 1024px) {
    .container_1 {
        height: 100px;
    }
    .contenido,
    .contenido_lateral {
        width: 100%;
    }
}
/*aplicando transiciones al footer-mapa de la ubicación */
.pie__divContenedor,
h1,
h2 {
    animation-duration: 0.3s;
    animation-name: aparecer;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*aplicando SASS con variable y condicional en sección "desayunos.html" */
$numero: 15;
.titulo {
    @if $numero == 15 {
        font-family: cursive;
        font-size: 25px;
        color: rgb(70, 68, 68);
    } @else {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        color: rgb(156, 29, 29);
    }
}
.text2 {
    img {
        padding: 15px;
        margin: 10px;
        border-radius: 75%;
    }
}

/*aplicando extend en el index*/
$rifa: rgb(50, 109, 26);
.sorteo {
    color: rgb(248, 240, 239);
    background-color: $rifa;
    padding: 10px;
    margin: 80px;
}
/*aplicando extend en el index*/
.sorteo_1 {
    @extend .sorteo;
    background-color: darken($rifa, 10%);
    font-style: normal;
    font-size: $sizefont;
}
.sorteo_2 {
    @extend .sorteo_1;
    background-color: darken($rifa, 18%);
    font-style: normal;
}
/*aplicando mixin en el index*/
@mixin participa($colorLetra, $valorLetra, $colorFondo) {
    color: $colorLetra;
    background-color: $colorFondo;
    font-size: $valorLetra;
    padding: 10px;
    margin: 80px;
}
h5 {
    @include participa(rgb(245, 223, 223), 30px, tomato);
}
.foto{
    max-width: 60%;
    min-height: 60%;
    border-radius: 60px;
}
